<!-- app/templates/admin/employees/employees.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">User Management</h1>
        {% if employees %}
          <hr class="intro-divider">
          <div class="center">
          <body>
            <table class="table table-striped  table-hover display" id="table_id">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="5%"> Site </th>
                  <th width="30%"> Role </th>
                 <!--  <th width="15%"> Lead Project Count </th>
                  <th width="15%"> Involved Project Count </th> -->
                  <th width="15%"> Overall Project Count </th>
                  <th width="15%"> Administrator </th>
                  <th width="15%"> Edit Profile</th>
                </tr>
              </thead>
              <tbody>
              {% for employee in employees %}
                    <tr>

                      <td> <a href="{{ url_for('admin.list_member_projects', id=employee.id) }}">
                      <i class="fa fa-pencil"></i>
                      {{ employee.first_name }} {{ employee.last_name }} </a>
                      </td>
                      
                      <td>
                        {% if employee.department %}
                          {{ employee.department.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        {% if employee.role %}
                          {{ employee.role.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
<!--                       <td>
                        {% if employee.projects %}
                          {{ employee.projects.count() }}
                        {% else %}
                          0
                        {% endif %}
                      </td>
                      <td>
                        {% if employee.project_lists %}
                          {{ employee.project_lists.count() }}
                        {% else %}
                          0
                        {% endif %}
                      </td> -->
                      <td>
                        {% if employee.project_lists or employee.projects %}
                          {{ employee.project_lists.count()+ employee.projects.count()}}
                        {% else %}
                          0
                        {% endif %}
                      </td>
                      <td>
                        {% if employee.is_admin == 1%}
                          Yes
                        {% else %}
                          No
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{ url_for('admin.assign_employee', id=employee.id) }}">
                          <i class="fa fa-user-plus"></i> Edit
                        </a>
                      </td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
                      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
            <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
            <script type="text/javascript">
                $(document).ready( function () {
                    $('#table_id').DataTable({
                      "bPaginate": true,
                      "bLengthChange": true,
                      "bFilter": true,
                      "bSort": true,
                      "bInfo": true,
                      "bAutoWidth": true
                    });
                } );
            </script>
          </body>
          </div>
            <div style="text-align: center">
        {% endif %}
          <a href="{{ url_for('auth.register') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add User
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}