<!-- app/templates/admin/reset.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Assign Employee{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1> Reset Password </h1>
            {{ wtf.quick_form(form) }}

            <h5> A password reset link will be sent to your inbox from <span style="color: #aec251;"> ropdemreset@gmail.com </span>. </h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}