<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h2>RONALD O. PERELMAN DEPARTMENT OF EMERGENCY MEDICINE</h2>
                    <h3>Quality Improvement Project Management Platfrom</h3>
                    <!-- <h3>{{projects}}</h3> -->

                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}