<!-- app/templates/admin/projects/edit_project.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_project %}
        Add Project
    {% else %}
        Edit Project
    {% endif %}
{% endblock %}
{% block body %}
<head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
                <h1 style="text-align:center;">Edit Project</h1>
            {{ utils.flashed_messages() }}
            <br/>
            
            <form  method="post" role="form" action="">       
                <dl>
                {{ form.csrf_token }}
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.description)}}
                {{ wtf.form_field(form.status) }} {{ wtf.form_field(form.department) }}
                {{ wtf.form_field(form.project_lead) }}
                {{ wtf.form_field(form.start_date) }} <h6>(Date format: MM/DD/YYYY)</h6>
                {{ wtf.form_field(form.tags) }}
                <h1></h1>

            <h4 style="text-align:left;">Current Project Member</h4>
            <div data-toggle="fieldset" id="phone-fieldset">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width=15%> Member name</th>
                  <th width=15%> Department </th>
                  <th width=15%> Role </th>
                  <th width=15%> Delete </th>
                </tr>
              </thead>
              <tbody>
                {% for member in project.project_member %}
                 <tr>
                  <td>{{ member.first_name}} {{member.last_name}}</td>
                  <td>{{ member.department.name}}</td>
                  <td>{{ member.role.name }}</td>
                  <td> <a href="{{ url_for('admin.delete_project_member', pid=project.id, mid=member.id) }}">
                      <i class="fa fa-pencil"></i> Delete 
                    </a> 
                  </td>
                </tr> 
                {%endfor%}
              </tbody>
                         {{ 'Add member' }} <button type="button" data-toggle="fieldset-add-row"
                                                          data-target="#phone-fieldset">+</button>
                            {% for member in form.members %}
                                <tr data-toggle="fieldset-entry">
                                    <td> {{member}}</td>
                                    <td> </td>
                                    <td> </td>
                                    <td><button type="button" data-toggle="fieldset-remove-row" id="phone-{{loop.index0}}-remove">-</button></td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>                            

            </table>            
                         
                <input class='btn btn-primary' type="submit" name="submit" value='Submit'>
                <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
                <script src="{{ url_for('static', filename='js/page.js') }}"></script>                

                </dl>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}