<!-- app/templates/admin/projects/project.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_project %}
        Add Project
    {% else %}
        Edit Project
    {% endif %}
{% endblock %}
{% block body %}

<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_project %}
                <h1>Add Project</h1>
            {% else %}
                <h1>Edit Project</h1>
            {% endif %}
            <br/>

            <form  method="post" role="form" action="">       
                <dl>
                {{ form.csrf_token }}
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.description)}}
                {{ wtf.form_field(form.status) }} {{ wtf.form_field(form.department) }}
                {{ wtf.form_field(form.employee) }}
                <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
                <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                <script>
                $(function() {
                    $( ".dtpick" ).datepicker();
                });
                </script>
                {{ form.start_date(class="dtpick") }}
                <h1></h1>

                <div data-toggle="fieldset" id="phone-fieldset">
                         {{ form.members.label }} <button type="button" data-toggle="fieldset-add-row"
                                                          data-target="#phone-fieldset">+</button>
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>Number</th>
                                <th></th>
                            </tr>
                            {% for member in form.members %}
                                <tr data-toggle="fieldset-entry">
                                    <td>{{ member }}</td>
                                    <td><button type="button" data-toggle="fieldset-remove-row" id="phone-{{loop.index0}}-remove">-</button></td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>                            
                <input class='btn btn-primary' type="submit" name="submit" value='Submit'>
                <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
                <script src="{{ url_for('static', filename='js/page.js') }}"></script>                

                </dl>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}