<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | ROPDEM QI Project Management</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Quality Improvement Project Management</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                    {% if current_user.permission.name == 'Admin' %}
                      <li><a href="{{ url_for('home.admin_dashboard') }}">{{current_user.first_name}}'s dashboard</a></li>

                      <li class="dropdown"> 
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management<span class="caret"></span></a>
                      <ul class='dropdown-menu'>
                          <li><a href="{{ url_for('admin.list_projects') }}">Projects</a></li>
                          <li><a href="{{ url_for('admin.list_employees') }}">Users</a></li>
                          <li><a href="{{ url_for('admin.list_departments') }}">Departments</a></li>
                          <li><a href="{{ url_for('admin.list_roles') }}">Roles</a></li>
                          <li><a href="{{ url_for('admin.download_project') }}">Download projects</a></li>
                      </ul>
                    </li> 

                    {% elif current_user.permission.name == 'Editor' %}
                      <li><a href="{{ url_for('home.dashboard') }}">{{current_user.first_name}}'s dashboard</a></li>
                      <li><a href="{{ url_for('admin.list_projects') }}">Projects</a></li>
                    {% else %}
                      <li><a href="{{ url_for('home.dashboard') }}">{{current_user.first_name}}'s dashboard</a></li>
                      <li><a href="{{ url_for('admin.list_projects') }}">Projects</a></li>
                    {% endif %}
                    <li class="dropdown"> 
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, {{ current_user.first_name }}<span class="caret"></span></a>
                      <ul class='dropdown-menu'>
                        <li><a href="{{url_for('admin.view_profile', id= current_user.id)}}">Profile</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                      </ul>
                    </li>
                    
                  {% else %}
                    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                  {% endif %}
              </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
</body>
</html>